.header {
  position: absolute;
  width: 100%;
  height: fit-content;
  left: 0;
  top: 0;
  background-color: #abebc6;
  padding: .7rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.header-info {
  font-size: 20px;
  width: fit-content;
  border: 1px solid #000;
  margin: 0 auto;
  padding: 1%;
  color: #fff;
  background-color: #1d8348;
}
.header-info p span {
  font-size: larger;
}
